/* =====================================
   PHOTOS ADMIN
===================================== */

.adminPhotoGrid {

    display: grid;

    grid-template-columns: repeat(2, minmax(0, 1fr));

    gap: 10px;

    width: 100%;

}


.adminPhotoGrid img {

    width: 100%;

    aspect-ratio: 1 / 1;

    object-fit: cover;

    border-radius: 10px;

}.adminPhotoGrid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 10px;

    background: red;

}