/* =====================================
   ADMINISTRATION
===================================== */
.adminPhotoGrid {

    display: grid;

    grid-template-columns: repeat(3, 2fr);

    gap: 10px;

    margin-top: 10px;

}


.adminPhotoGrid img {

    width: 100%;

    border-radius: 10px;

}